@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
}
::-webkit-scrollbar {
  width: 9px;

}
::-webkit-scrollbar-track {
  background: #0205226b;

}
::-webkit-scrollbar-thumb {
  background: #ffffff93;
  border-radius: 3em;
}
